.avatar {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.body_page {
    background-color: black;
    color: aliceblue;
    text-align: center
}

.ul {
    width: auto;
    color: white;
    list-style-type: none;
}

a {
    color: aqua;
}

.collapsible {
    cursor: pointer;
    border: none;
    text-align: center;
    outline: none;
    text-decoration: underline;
    color: aqua;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */


/* Style the collapsible content. Note: hidden by default */

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: darkslategrey;
}

.content ul {
    list-style-type: none;
}

.content a {
    text-decoration: underline;
    color: whitesmoke;
}